.people_footnote-group {
    .people_caption_text {
        position: relative;
        display: inline-block;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-timing-function: easeInOutCirc;
        animation-fill-mode: fowards;
    }

    .people_caption_text:nth-child(2) {
        animation-delay: 0.1s;
    }

    &:nth-child(1) .people_caption_text {
        animation-name: slide-anim-01;
    }

    &:nth-child(2) .people_caption_text {
        animation-name: slide-anim-02;
    }
}